/*
* App
*/
.container {
  margin-top: 80px;
}
.main-logo {
  color: #fff;
}
.main-logo:hover {
  color: #3085d6;
}
.user-welcome {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

/*
* Index
*/
.index h1 {
  text-align: center;
}
.sign-in {
  margin-top: 40px;
  text-align: center;
}

/*
* SessionsView list of all sessions
*/
.sessions h3 {
  margin: 0 auto 30px;
  text-align: center;
}
.sessions .row:nth-child(even) .single-session-row {
  background-color: #eee;
}
.single-session-row {
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
.sessions-profit {
  font-size:1.4em;
}
.sessions-stakes {
  margin-left: 5px;
}
.session-win {
  color: green;
}
.session-loss {
  color: red;
}
.sessions-profit, .sessions-game, .sessions-stakes, .sessions-location {
  float: left;
  margin-left: 5px;
}
.sessions-time, .sessions-date {
  float: right;
}
.sessions-location, .sessions-date{
  padding-top: 5px;
}
.sessions-data {
  float: left;
  width: 94%
}
.more-detail {
  float: left;
  width: 6%;
}
.right-arrow {
  margin-top: 50%;
  margin-left: 50%;
  font-size: 1.5em;
}

/*
* SessionView for a detailed single session
*/
.sesh h3 {
  text-align: center;
  width: 100%;
}
.sesh-detail {
  margin: 10px auto;
  width: 95%;
}
.sesh-detail td {
  padding: 10px;
  min-width: 180px;
}
.sesh-detail tr {
  border: 2px solid #000;
}
.data-column {
  text-align: right;
  font-weight: bold;
  font-size: 1.1em;
}
tr .session-note{
  text-align: left;
  font-weight: normal;
}
.sesh-nav {
  margin-top: 10px;
}
.all-sesh-nav {
  text-align: center;
}
.prev-sesh-nav {
  text-align: left;
}
.next-sesh-nav {
  text-align: right;
}
.button-bottom {
  margin-top: 13px;
}

/*
* OverviewView
*/
.overview h3 {
  text-align: center;
  width: 100%;
}
.overview-chart {
  height: 350px;
  width: 440px;
  background-color: #aaa;
  margin: 30px auto 20px;
  text-align: center;
}

/*
* Stats
*/
.stats h3 {
  text-align: center;
  width: 100%;
}
.sesh-detail caption {
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0 5px;
}

/*
* New Game Sidebar
*/
.add-game-sidebar-view h4 {
  text-align: center;
}
.add-game-sidebar-view .field {
  margin-bottom: 15px;
}
.add-game-sidebar-view fieldset {
  font-size: 1.3em;
}
.new-session-button {
  text-align: center;
  margin-top: 30px;
}


/*
* Responsive Fixes
*/
@media only screen and (max-width: 768px) {
  .container {
    margin-top: 0px;
  }
  .sessions .row:nth-child(even) {
    background-color: #eee;
  }
  .sessions .row {
    padding: 8px;
  }
}