.sessions h3 {
  margin: 0 auto;
  text-align: center;
}
.single-session-row {
  border-top: 1px solid #000;
  padding: 8px;
}
.sessions-row div div {
  font-weight: bold;
}
.sessions-profit {
  font-size:1.4em;
}
.sessions-stakes {
  margin-left: 5px;
}
.session-win {
  color: green;
}
.session-loss {
  color: red;
}
.sessions-profit, .sessions-game, .sessions-stakes, .sessions-location {
  float: left;
  margin-left: 5px;
}
.sessions-time, .sessions-date {
  float: right;
}
.sessions-location, .sessions-date{
  padding-top: 5px;
}
.session h3 {
  text-align: center;
}
.session-detail {
  margin: 10px auto;
}
.session-detail td {
  padding: 10px;
  min-width: 180px;
}
.session-detail tr {
  border: 2px solid #000;
}
.data-column {
  text-align: right;
  font-weight: bold;
  font-size: 1.1em;
}
tr .session-note{
  text-align: left;
  font-weight: normal;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
