/*
* Global styles
*/
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/*
* SessionsView list of all sessions
*/
.sessions h3 {
  margin: 0 auto;
  text-align: center;
}
.single-session-row {
  border-top: 1px solid #000;
  padding: 8px;
}
.sessions-row div div {
  font-weight: bold;
}
.sessions-profit {
  font-size:1.4em;
}
.sessions-stakes {
  margin-left: 5px;
}
.session-win {
  color: green;
}
.session-loss {
  color: red;
}
.sessions-profit, .sessions-game, .sessions-stakes, .sessions-location {
  float: left;
  margin-left: 5px;
}
.sessions-time, .sessions-date {
  float: right;
}
.sessions-location, .sessions-date{
  padding-top: 5px;
}
.sessions-data {
  float: left;
  width: 94%
}
.more-detail {
  float: left;
  width: 6%;
}
.right-arrow {
  margin-top: 50%;
  margin-left: 50%;
  font-size: 1.5em;
  cursor: pointer;
}

/*
* SessionView for a detailed single session
*/
.sesh h3 {
  text-align: center;
  border-bottom: 1px solid #666;
  width: 100%;
}
.sesh-detail {
  margin: 10px auto;
}
.sesh-detail td {
  padding: 10px;
  min-width: 180px;
}
.sesh-detail tr {
  border: 2px solid #000;
}
.data-column {
  text-align: right;
  font-weight: bold;
  font-size: 1.1em;
}
tr .session-note{
  text-align: left;
  font-weight: normal;
}
.sesh-nav {
  margin-top: 10px;
}
.all-sesh-nav {
  text-align: center;
}
.prev-sesh-nav {
  text-align: left;
}
.next-sesh-nav {
  text-align: right;
}
.button-bottom {
  margin-top: 13px;
}

/*
* OverviewView for aggregate stats
*/
.overview h3 {
  text-align: center;
  border-bottom: 1px solid #666;
  width: 100%;
}
.overview-chart {
  height: 350px;
  width: 440px;
  background-color: #aaa;
  margin: 20px auto;
  text-align: center;
}
